<div class="row">

  <div class="col-sm-6" *ngIf="professorSelecionado">
    <div class="row">
      <div class="col-sm-10">
        <app-titulo [titulo]="'Cód. Professor: ' + professorSelecionado.id"></app-titulo>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-outline-danger" (click)="voltar()">Fechar</button>
      </div>
    </div>

    <form [formGroup]="professorForm" (submit)="professorSubmit()">
      <div class="form-group">
        <label for="formGroupNome">Nome</label>
        <input type="text" formControlName="nome" class="form-control">
      </div>
      <div class="form-group">
        <label for="formGroupDisciplina">Disciplina</label>
        <input type="text" formControlName="disciplina" class="form-control">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn-success" [disabled]="!professorForm.valid">Enviar</button>
      </div>
    </form>
  </div>
  <div [ngClass]="{'col-sm-6': professorSelecionado, 'col-sm-12': !professorSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professores"
        style="cursor: pointer;" (click)="professorSelect(professor)">
          <th scope="row">{{professor.id}}</th>
          <td>{{professor.nome}}</td>
          <td>{{professor.disciplina}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


